<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phynos.solar.module.sys.mapper.LogLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phynos.solar.module.sys.entity.LogLogin">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="user_id" property="userId"/>
        <result column="login_ip" property="loginIp"/>
        <result column="platform" property="platform"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , create_time, user_id, login_ip, platform
    </sql>

    <insert id="batchInsert">
        insert into sys_log_login(id, user_id, login_ip, platform) values
        <foreach collection="logList" item="item" index="index" separator=",">
            (
            #{item.id},
            #{item.userId},
            #{item.loginIp},
            #{item.platform}
            )
        </foreach>
    </insert>

    <select id="streamQuery" resultMap="BaseResultMap" fetchSize="3000">
        select
            <include refid="Base_Column_List"></include>
        from
            sys_log_login
        order by create_time desc
    </select>

</mapper>
