<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phynos.springboot.webapi.dao.master.OperationlogMapper">
  <resultMap id="BaseResultMap" type="com.phynos.springboot.webapi.model.master.Operationlog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="module_title" jdbcType="VARCHAR" property="moduleTitle" />
    <result column="action_name" jdbcType="VARCHAR" property="actionName" />
    <result column="method_name" jdbcType="VARCHAR" property="methodName" />
    <result column="method_params" jdbcType="VARCHAR" property="methodParams" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="oper_user_id" jdbcType="INTEGER" property="operUserId" />
    <result column="oper_URL" jdbcType="VARCHAR" property="operUrl" />
    <result column="oper_IP" jdbcType="VARCHAR" property="operIp" />
    <result column="oper_location" jdbcType="VARCHAR" property="operLocation" />
    <result column="error_msg" jdbcType="VARCHAR" property="errorMsg" />
    <result column="operation_datetime" jdbcType="TIMESTAMP" property="operationDatetime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, module_title, action_name, method_name, method_params, status, oper_user_id, 
    oper_URL, oper_IP, oper_location, error_msg, operation_datetime
  </sql>
  <select id="selectByExample" parameterType="com.phynos.springboot.webapi.model.master.OperationlogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_operation_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_operation_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.phynos.springboot.webapi.model.master.OperationlogExample">
    delete from sys_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.phynos.springboot.webapi.model.master.Operationlog">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_operation_log (id, module_title, action_name, 
      method_name, method_params, status, 
      oper_user_id, oper_URL, oper_IP, 
      oper_location, error_msg, operation_datetime
      )
    values (#{id,jdbcType=INTEGER}, #{moduleTitle,jdbcType=VARCHAR}, #{actionName,jdbcType=VARCHAR}, 
      #{methodName,jdbcType=VARCHAR}, #{methodParams,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{operUserId,jdbcType=INTEGER}, #{operUrl,jdbcType=VARCHAR}, #{operIp,jdbcType=VARCHAR}, 
      #{operLocation,jdbcType=VARCHAR}, #{errorMsg,jdbcType=VARCHAR}, #{operationDatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phynos.springboot.webapi.model.master.Operationlog">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_operation_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      id,
      <if test="moduleTitle != null">
        module_title,
      </if>
      <if test="actionName != null">
        action_name,
      </if>
      <if test="methodName != null">
        method_name,
      </if>
      <if test="methodParams != null">
        method_params,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="operUserId != null">
        oper_user_id,
      </if>
      <if test="operUrl != null">
        oper_URL,
      </if>
      <if test="operIp != null">
        oper_IP,
      </if>
      <if test="operLocation != null">
        oper_location,
      </if>
      <if test="errorMsg != null">
        error_msg,
      </if>
      <if test="operationDatetime != null">
        operation_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=INTEGER},
      <if test="moduleTitle != null">
        #{moduleTitle,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null">
        #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodParams != null">
        #{methodParams,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="operUserId != null">
        #{operUserId,jdbcType=INTEGER},
      </if>
      <if test="operUrl != null">
        #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null">
        #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operationDatetime != null">
        #{operationDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.phynos.springboot.webapi.model.master.OperationlogExample" resultType="java.lang.Long">
    select count(*) from sys_operation_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update sys_operation_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.moduleTitle != null">
        module_title = #{record.moduleTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.actionName != null">
        action_name = #{record.actionName,jdbcType=VARCHAR},
      </if>
      <if test="record.methodName != null">
        method_name = #{record.methodName,jdbcType=VARCHAR},
      </if>
      <if test="record.methodParams != null">
        method_params = #{record.methodParams,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.operUserId != null">
        oper_user_id = #{record.operUserId,jdbcType=INTEGER},
      </if>
      <if test="record.operUrl != null">
        oper_URL = #{record.operUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.operIp != null">
        oper_IP = #{record.operIp,jdbcType=VARCHAR},
      </if>
      <if test="record.operLocation != null">
        oper_location = #{record.operLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.errorMsg != null">
        error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.operationDatetime != null">
        operation_datetime = #{record.operationDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update sys_operation_log
    set id = #{record.id,jdbcType=INTEGER},
      module_title = #{record.moduleTitle,jdbcType=VARCHAR},
      action_name = #{record.actionName,jdbcType=VARCHAR},
      method_name = #{record.methodName,jdbcType=VARCHAR},
      method_params = #{record.methodParams,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=BIT},
      oper_user_id = #{record.operUserId,jdbcType=INTEGER},
      oper_URL = #{record.operUrl,jdbcType=VARCHAR},
      oper_IP = #{record.operIp,jdbcType=VARCHAR},
      oper_location = #{record.operLocation,jdbcType=VARCHAR},
      error_msg = #{record.errorMsg,jdbcType=VARCHAR},
      operation_datetime = #{record.operationDatetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.phynos.springboot.webapi.model.master.Operationlog">
    update sys_operation_log
    <set>
      <if test="moduleTitle != null">
        module_title = #{moduleTitle,jdbcType=VARCHAR},
      </if>
      <if test="actionName != null">
        action_name = #{actionName,jdbcType=VARCHAR},
      </if>
      <if test="methodName != null">
        method_name = #{methodName,jdbcType=VARCHAR},
      </if>
      <if test="methodParams != null">
        method_params = #{methodParams,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="operUserId != null">
        oper_user_id = #{operUserId,jdbcType=INTEGER},
      </if>
      <if test="operUrl != null">
        oper_URL = #{operUrl,jdbcType=VARCHAR},
      </if>
      <if test="operIp != null">
        oper_IP = #{operIp,jdbcType=VARCHAR},
      </if>
      <if test="operLocation != null">
        oper_location = #{operLocation,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null">
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="operationDatetime != null">
        operation_datetime = #{operationDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phynos.springboot.webapi.model.master.Operationlog">
    update sys_operation_log
    set module_title = #{moduleTitle,jdbcType=VARCHAR},
      action_name = #{actionName,jdbcType=VARCHAR},
      method_name = #{methodName,jdbcType=VARCHAR},
      method_params = #{methodParams,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      oper_user_id = #{operUserId,jdbcType=INTEGER},
      oper_URL = #{operUrl,jdbcType=VARCHAR},
      oper_IP = #{operIp,jdbcType=VARCHAR},
      oper_location = #{operLocation,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      operation_datetime = #{operationDatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>