[Unit]
Description=XXXX
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/path/to/java -jar xxxx.jar
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target