<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phynos.solar.module.sys.mapper.SysLogAuditMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phynos.solar.module.sys.entity.SysLogAudit">
        <id column="id" property="id" />
        <result column="oper_time" property="operTime" />
        <result column="titile" property="titile" />
        <result column="business_type" property="businessType" />
        <result column="method" property="method" />
        <result column="request_method" property="requestMethod" />
        <result column="platform" property="platform" />
        <result column="oper_name" property="operName" />
        <result column="dept_name" property="deptName" />
        <result column="oper_url" property="operUrl" />
        <result column="oper_ip" property="operIp" />
        <result column="oper_location" property="operLocation" />
        <result column="status" property="status" />
        <result column="oper_param" property="operParam" />
        <result column="json_result" property="jsonResult" />
        <result column="error_msg" property="errorMsg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, oper_time, titile, business_type, method, request_method, platform, oper_name, dept_name, oper_url, oper_ip, oper_location, status, oper_param, json_result, error_msg
    </sql>

</mapper>
