<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phynos.solar.module.ten.mapper.TenDeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phynos.solar.module.ten.entity.TenDept">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="manager" property="manager" />
        <result column="tel" property="tel" />
        <result column="email" property="email" />
        <result column="status" property="status" />
        <result column="dept_type" property="deptType" />
        <result column="pid" property="pid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, name, sort, manager, tel, email, status, dept_type, pid
    </sql>

</mapper>
